# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
build
.out
.next

# cache
.yarn-cache
.cache
.vite
turbo
coverage

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# git
.git
.gitignore

# env
.env
.env.*

# OS
.DS_Store
